*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.container__top {
  max-width: 60rem;
  margin: auto;
  padding: 0 3rem; }

.container__bottom {
  max-width: 120rem;
  margin: auto;
  padding: 0 3rem; }

.alert {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem 3rem;
  margin-bottom: 2rem;
  text-align: center; }
  .alert--success {
    background-color: #c8e6c9;
    color: #007E33; }
  .alert--danger {
    background-color: #ef9a9a;
    color: #CC0000; }

.u-text-center {
  text-align: center; }

.header {
  width: 100%;
  padding: 3rem;
  font-size: 3rem;
  color: #fff;
  background-color: #e74c3c;
  margin-bottom: 3rem; }

.book__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.7rem; }

.book__title {
  margin-bottom: .5rem; }

.book__input {
  margin-bottom: 2rem;
  font-size: inherit;
  padding: 1rem 1rem; }

.book__btn {
  padding: 1.5rem 1rem;
  border: none;
  background-color: #c0392b;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .book__btn:hover {
    background-color: #e74c3c;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-0.2rem);
        -ms-transform: translateY(-0.2rem);
            transform: translateY(-0.2rem); }
  .book__btn:active {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.book__log {
  margin-top: 8rem;
  font-size: 1.7rem; }

.book__table {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 30px; }

.book__item {
  padding: 1rem 0;
  border-bottom: .1rem solid grey; }
  .book__item--header {
    font-size: inherit;
    font-weight: 400; }
  .book__item--list-item {
    padding: 1.5rem 0; }

.book__delete {
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  text-align: center; }
  .book__delete:link, .book__delete:visited {
    color: inherit;
    text-decoration: none; }
  .book__delete:hover {
    color: #e74c3c; }
